<div class="row">
  <div class="col-xs-1">{{IP}}</div>
  <div class="col-xs-1 log-field">{{ID}}</div>
  <div class="col-xs-1">
    <span class="label label-{{level}}">{{LogLevel}}</span>
  </div>
  <div class="col-xs-1">{{Role}}</div>
  <div class="col-xs-1">{{Tag}}</div>
  <div class="col-xs-7 log-field"><span class="msg">{{Message}}</span></div>
</div>
