<div class="panel-heading {{DebugString}}">
  <div class="pull-left">
    <h3 class="panel-title">
      <strong>Name: </strong>{{Name}}
      <strong>Host: </strong>{{HostName}}
      <strong>ID: </strong>{{HostId}}
    </h3>
  </div>
  <div class="pull-right">
    <div class="btn-group">
      <button type="button" class="visibility btn btn-default btn-xs">
        <i class="fa fa-arrow-up down"></i>
      </button>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div id="pin-list" class="panel-body {{DebugString}} container-fluid"></div>
