<table class="table">
  <tr>
    <td class="description">Type</td>
    <td><i class="fa fa-folder"></i></td>
  </tr>
  <tr>
    <td class="description">Name</td>
    <td>{{Name}}</td>
  </tr>
  <tr>
    <td class="description">Items</td>
    <td>{{Children.length}}</td>
  </tr>
  <tr>
    <td class="description">Owner</td>
    <td>{{Owner}}</td>
  </tr>
  <tr>
    <td class="description">Created</td>
    <td>{{Created}}</td>
  </tr>
  <tr>
    <td class="description">Last Access</td>
    <td>{{Accessed}}</td>
  </tr>
  <tr>
    <td class="description">Last Write</td>
    <td>{{Written}}</td>
  </tr>
</table>
